PORT=8000
MONGODB_URI=mongodb+srv://sainikunal5634_db_user:Kunal12345@aiinterview.fckg7im.mongodb.net/aiinterview?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRY=7d
CORS_ORIGIN=*


CLOUDINARY_CLOUD_NAME=vegvkofi
CLOUDINARY_API_KEY=753714829378723
CLOUDINARY_API_SECRET=79X6QycBRU1o2uZvnntF11_uOAk
GROQ_API_KEY=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
