# Dependency directories
node_modules/

# Environment variables (highly sensitive!)
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Uploaded files
/public/temp/*
!/public/temp/.gitkeep
